In [1]:
import pandas as pd

In [2]:
GTO_dataset = pd.read_csv('group_3_oil.csv')
GTO_dataset

           DATE  WPU057801
0    2009-06-01    100.000
1    2009-07-01    105.500
2    2009-08-01    128.300
3    2009-09-01    122.100
4    2009-10-01    119.900
..          ...        ...
159  2022-09-01    242.322
160  2022-10-01    235.947
161  2022-11-01    226.158
162  2022-12-01    217.545
163  2023-01-01    215.906

[164 rows x 2 columns]

VERIFICANDO A TIPAGEM DAS COLUNAS

In [3]:
GTO_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DATE       164 non-null    object
 1   WPU057801  164 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.7+ KB

NOTE QUE A COLUNA DATE ESTÁ TIPADA COMO OBJECT, MAS NÓS QUEREMOS MANIPULAR ELA COMO DATA. PORTANTO FAREMOS UMA CONVERSÃO DA COLUNA DE OBJETO PARA DATETIME.

In [4]:
GTO_dataset.DATE = pd.to_datetime(GTO_dataset.DATE)

VERIFICANDO SE TEMOS TODOS OS DIAS DO MÊS NO DATASET OU SOMENTE UM DIA POR MÊS

In [15]:
GTO_dataset.DATE[GTO_dataset.DATE.dt.day == 1]

0     2009-06-01
1     2009-07-01
2     2009-08-01
3     2009-09-01
4     2009-10-01
         ...
159   2022-09-01
160   2022-10-01
161   2022-11-01
162   2022-12-01
163   2023-01-01
Name: DATE, Length: 164, dtype: datetime64[ns]